.Calculadora{
    display:block;
    margin:0 auto;
    padding:30px;
    background-color:#dd93d9;
    width:300px;
    height:500px;
    border-radius: 25px;
  }
  
  .numeros {
    background-color :#df31df ;
    padding: 1rem;
    border: thick solid #0cdefa;
    margin: 1em;
  }
  .calcular{
    background-color :#71d7f7 ;
    padding: 1rem;
    border: thick solid #f805bb;
    margin: 1em;
  }
  #resultado{
    display:block;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 50px;
    line-height: 50px;
    background-color:rgb(199, 1, 100);
    border-radius: 25px;
    overflow-y: scroll;
  }
 
  
