.Calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#ca58c5;
    width:500px;
    height:500px;
    border-radius: 25px;
  }
  
  .numeros {
    background-color :#EACEFF ;
    padding: 1rem;
    border: thick solid #7354D6;
    margin: 1em;
  }
  .calculadorar{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
  }
 
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:rgb(110, 94, 201);
    border-radius: 25px;
    overflow-y: scroll;
  }
