.Calculadora{
    display:block;
    margin:0 auto;
    padding:30px;
    background-color:#c759f3;
    width:300px;
    height:500px;
    border-radius: 25px;
  }
  
  .numeros {
    background-color :#ff5ce9 ;
    padding: 1rem;
    border: thick solid #fa0c8fde;
    margin: 1em;
  }
  .calcular{
    background-color :#00eeff ;
    padding: 1rem;
    border: thick solid #5f007c;
    margin: 1em;
  }
 
 
  
